<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSIRO.Data.netCDF" version="0.5.0.4" targetFramework="net40" />
  <package id="CSIRO.Metaheuristics" version="0.7.9.0" targetFramework="net40" />
  <package id="CSIRO.netCDF_IKVM" version="4.3.20.1" targetFramework="net40" />
  <package id="CSIRO.Utilities" version="0.7.9.0" targetFramework="net40" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="TIME_test_nuget" version="0.1.7" targetFramework="net40" />
</packages>